.display-flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
}

.align-default {
  align-items: flex-start !important;
}

.justify-center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}
