.App {
  display: flex;
  justify-content: center;
  background-color: #252836;
  min-height: 100vh;
  overflow-x: hidden;
  width: 100%;
}

.unselectable {
  -webkit-user-select: none;       
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.main {
  width: 1194px;
  padding: 24px;
}

.display-flex {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
}

.align-default {
  align-items: flex-start !important; 
}

.justify-center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.search-name {
  border-radius: 8px;
  border: 1px solid #393C49;
  display: flex;
  align-items: center;
  padding: 14px;
}

.search-name-input {
  border: 1px solid #393C49;
  background-color: transparent;
  color: #FFF;
  font-size: 14px;
  padding: 14px;
  /* padding-left = icon size (16px) + padding of the icon (14px) + input padding (14px) */
  padding-left: 42px;
  border-radius: 8px;
  width: 107px;
  line-height: 130%;
  margin-right: 16px;
}

/* responsive text field */

.text-field-large-screen {
  display: flex;
}

.text-field-small-screen {
  display: none;
}

@media screen and (max-width: 540px) {
  .text-field-large-screen {
    display: none;
  }

  .text-field-small-screen {
    margin-top: 24px;
    display: flex;
  }

  .search-name-input {
    width: 100%;
    margin-right: 0px;
  }
}

.cart-btn {
  height: 48px;
  width: 48px;
  border-radius: 8px;
  background-color: #EA7C69;
  border: none;
  cursor: pointer;
}

.cart-btn:active {
  transform: scale(0.95);
}

.cart-btn:hover {
  opacity: 0.9;
}

.cart-btn-icon {
  width: 20px;
  height: 24px;
}
.search-name-icon {
  position: absolute;
  margin-top: 2px;
  margin-left: 14px;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.header-font {
  font-size: 26px;
  font-weight: 500;
  line-height: 140%;
}

@media screen and (max-width: 360px) {
  .header-font {
    font-size: 24px;
  }
}

.subheader-font {
  font-size: 18px;
  font-weight: 500;
  line-height: 140%;
}

.white-text {
  color: #FFF !important;
}

.dividing-line {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.08);
}

.line-margin {
  margin-top: 24px;
  margin-bottom: 24px;
}

.item-flex-box {
  width: calc(100%/6);
}

@media screen and (max-width: 1264px) {
  .item-flex-box {
    width: calc(100%/5);
  }
}

@media screen and (max-width: 1060px) {
  .item-flex-box {
    width: calc(100%/4);
  }
}

@media screen and (max-width: 824px) {
  .item-flex-box {
    width: calc(100%/3);
  }
}

@media screen and (max-width: 620px) {
  .item-flex-box {
    width: calc(100%/2);
  }
}

@media screen and (max-width: 420px) {
  .item-flex-box {
    width: calc(100%/1);
  }
}

.item-card {
  padding: 8px;
  margin-top: 24px;
  justify-content: center;
  box-sizing: border-box;
}

.item-card img {
  width: 60%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.item-card .subcard {
  border-radius: 16px;
  background-color: #1F1D2B;
  width: 100%;
  color: #FFF;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  /* padding-top = space taken by the card (40px) + padding around (16px) */
  padding-top: 56px;
  margin-top: -40px;
  align-items: center;
  box-sizing: border-box;
}

.name-box {
  text-align: center;
  height: 36px;
  font-size: 12px;
  font-weight: 500;
}

.etc-box {
  font-size: 12px;
  color: #ABBBC2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
  margin-bottom: 8px;
}

.dot {
  background: rgba(255, 255, 255, 0.08);
  margin-left: 8px;
  margin-right: 8px;
  height: 4px;
  width: 4px;
  border-radius: 50%;
}

.disabled-btn {
  opacity: 0.3;
  pointer-events: none;
}

.add-to-cart {
  background: rgba(255, 255, 255, 0.08);
  border-radius: 8px;
  width: 100%;
  padding: 8px;
  display: flex;
  justify-content: center;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
}

.add-to-cart:hover{
  background: rgba(255, 255, 255, 0.18);
}

.add-to-cart:disabled {
  opacity: 0.8;
}

.add-to-cart img {
  width: 14px;
  margin-right: 8px;
}

.add-to-cart span {
  color: #FFF;
  font-size: 12px;
  font-weight: 500;
}

.cart-badge {
  background-color: #f90000;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  color: #FFF;
  position: absolute;
  font-size: 14px;
  top: -6px;
  right: -6px;
  z-index: 999;
  text-align: center;
}

.pagination {
  margin-top: 16px;
}

.pagination span{
  color: #FFF;
  font-size: 14px;
  margin-left: 6px;
  margin-right: 6px;
  cursor: pointer;
}

.pagination span:hover {
  opacity: 0.8;
}

.underlined {
  text-decoration: underline;
  text-underline-offset: 3px;
}

 /* Dropdown Menu Part */

.arrow-down {
  margin-left: 4px;
  width: 12px;
}

.clear-option {
  background-color: #EA7C69 !important;
  font-weight: 500 !important;
}

.dropbtn {
  background-color: #1F1D2B;
  color: white;
  padding: 10px 16px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid #393C49;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-left: 16px;
}

.dropdown:first-child {
  margin-left: 0px;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 180px;
  border: 1px solid #393C49;
  border-radius: 8px;
  z-index: 1;
  height: 360px;
  overflow-y: auto;
}

/* Prevent Type dropdown content from going off the screen */
@media screen and (max-width: 1400px) {
  .move-left {
    margin-left: -80px;
  }
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background-color: #1F1D2B;
  border: 1px solid #393C49;
  cursor: pointer;
}

.selected-option {
  background-color: #252836 !important;
}

.dropdown-content a:first-child {
  border-radius: 8px 8px 0 0;
}

.dropdown-content a:last-child {
  border-radius: 0 0 8px 8px;
}

.dropdown-content a:hover {
	background-color: #252836;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  opacity: 0.8
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 8px;
}

.filter-large {
  display: flex;
}

.filter-small {
  display: none;
}

@media screen and (max-width: 496px) {
  .filter-large {
    display: none;
  }
  
  .filter-small {
    display: flex;
    margin-top: 24px;
  }
}

@media screen and (max-width: 356px) {
  .dropdown {
    position: relative;
    display: inline-block;
    margin-left: 8px;
  }
}

@media screen and (max-width: 338px) {
  .dropdown {
    position: relative;
    display: inline-block;
    margin-left: 4px;
  }
}
/* End of Dropdown Menu */

/* Cart Drawer Part */

.cart-drawer {
  background-color: #1F1D2B !important;
}

.clear-all {
  font-size: 12px;
  color: #ABBBC2 !important;
  text-decoration: underline;
  cursor: pointer;
}

.cancel-btn-icon {
  width: 24px;
  height: 24px;
  margin-top: 4px;
}

.item-card-cart {
  margin-top: 24px;
}

.square-btn {
  background: rgba(255, 255, 255, 0.08);
  width: 54px;
  height: 54px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.square-btn:hover {
  opacity: 0.8;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-top-16 {
  margin-top: 16px;
}

.item-column {
  font-size: 14px;
  width: 56px;
  margin-right: 8px;
}

.item-column img {
  height: 60px;
  width: auto;
}

.font-btn {
  font-size: 18px;
  font-weight: 500;
  color: #FFF;
}

.qty-column {
  font-size: 14px;
  flex-grow: 1;
}

.qty-display {
  background: rgba(255, 255, 255, 0.08);
  height: 54px;
  width: 100%;
  text-align: center;
  border-radius: 8px;
  color: white;
  border: none;
  pointer-events: none;
}

.price-font {
  color: #ABBBC2;
  font-size: 12px;
}

.price-column {
  display: flex;
  font-size: 14px;
  width: 56px;
  margin-left: 8px;
  justify-content: flex-end;
}

.cart-row-margin {
  margin-top: 20px;
  margin-bottom: 10px;
}

.bottom-part {
  margin-top: auto;
}

.payment-btn {
  background-color: #EA7C69;
  width: 100%;
  padding: 13px;
  margin-top: 22px;
  border: none;
  border-radius: 8px;
  color: #FFF;
  font-weight: 500;
  cursor: pointer;
}

.payment-btn:hover {
  opacity: 0.8
}

.parent {
  display: flex;
  flex-direction: column;
  height: 100%;
  box-sizing: border-box;
}

.cart-item-div {
  overflow-y: auto;
  flex-grow: 1;
}

/* Hide scrollbar but still scrollable */
.cart-item-div::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.MuiDrawer-paper {
  width: 396px !important;
}

@media screen and (max-width: 450px) {
  .MuiDrawer-paper {
    width: 100% !important;
  }
}
/* End of Cart Drawer Part */